<nav class="h-screen w-60 bg-white border border-1 shadow-md text-black flex flex-col gap-4 p-4">
    <h3 class="text-lg font-semibold mb-6 border-b-2 pb-5">WorkSync</h3>

    <u class="flex flex-col gap-5 text-base no-underline">
        <li class="list-none"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="list-none"><a routerLink="/dashboard">Employee</a></li>
        <li class="list-none"><a routerLink="/dashboard">Department</a></li>
        <li class="list-none"><a routerLink="/dashboard">Projects</a></li>
    </u>
</nav>